@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .links {
    @apply 
      px-6 
      py-2
      border 
      block
      hover:border-[#242424]
      border-stone-800
      rounded-full
      uppercase
      text-[12.5px]
      tracking-widest
      transition-all
      ease-in-out 
      delay-75
      hover:scale-105
      duration-300
      hover:-translate-y-0
  }
  .navbar-button-mobile {
    @apply
      uppercase
      block 
      lg:inline-block
      cursor-pointer
      text-sm
      tracking-widest
  }
  .cards {
    @apply  
    py-3 
    mr-3 
    mt-4 
    md:mt-5 
    rounded-2xl 
    shadow-lg 
    hover:shadow-xl 
    hover:shadow-teal-600
    shadow-gray-800 
    w-[100px] 
    h-[115px]
    flex 
    flex-col 
    items-center
  }
}

.invert-color {
  filter: invert(100%) sepia(36%) saturate(1130%) hue-rotate(177deg) brightness(88%) contrast(95%) !important;
}

* {
  font-family: 'Ubuntu';
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
